﻿<%@ Page Title="Page d'accueil" Language="VB" MasterPageFile="~/PagesMaitre/VirtualiaCnx.Master" AutoEventWireup="false" Inherits="Virtualia.Net._Default" Codebehind="Default.aspx.vb" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="EnteteSite">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="CorpsMaster">
    <p>
        Bienvenue dans Virtualia.Net (version 4.0)
    </p>
</asp:Content>