﻿<%@ Control Language="VB" AutoEventWireup="false" Inherits="Virtualia.Net.Fenetre_PER_GRADE" CodeBehind="PER_GRADE.ascx.vb" %>

<%@ Register Src="~/Controles/Saisies/VCoupleEtiDonnee.ascx" TagName="VCoupleEtiDonnee" TagPrefix="Virtualia" %>
<%@ Register Src="~/Controles/Saisies/VDuoEtiquetteCommande.ascx" TagName="VDuoEtiquetteCommande" TagPrefix="Virtualia" %>
<%@ Register Src="~/Controles/Saisies/VCoupleEtiquetteExperte.ascx" TagName="VCoupleEtiquetteExperte" TagPrefix="Virtualia" %>
<%@ Register Src="~/Controles/Saisies/VReliquatAnciennete.ascx" TagName="VReliquatAnciennete" TagPrefix="Virtualia" %>

<%@ Register Src="~/ControlsGeneriques/V_DataGrid.ascx" TagName="VDataGrid" TagPrefix="Generic" %>
<%@ Register Src="~/ControlsGeneriques/V_CommandeCRUD.ascx" TagName="VCrud" TagPrefix="Generic" %>

<asp:Table ID="CadreControle" runat="server" Height="30px" Width="600px" CellPadding="0" CellSpacing="0" HorizontalAlign="Center">
    <asp:TableRow>
        <asp:TableCell>
            <Generic:VDataGrid ID="ListeGrille" runat="server" CadreWidth="600px" SiColonneSelect="true" SiCaseAcocher="false" />
        </asp:TableCell>
    </asp:TableRow>
    <asp:TableRow>
        <asp:TableCell>
            <asp:Table ID="CadreInfo" runat="server" BorderStyle="Ridge" BorderWidth="2px" BorderColor="#B0E0D7" Height="520px" Width="600px" HorizontalAlign="Center" Style="margin-top: 3px;">
                <asp:TableRow>
                    <asp:TableCell>
                        <Generic:VCrud ID="CtlCrud" runat="server" Height="22px" Width="244px" HorizontalAlign="Right" CadreStyle="margin-top: 3px; margin-right: 3px" />
                    </asp:TableCell>
                </asp:TableRow>
                <asp:TableRow>
                    <asp:TableCell>
                        <asp:Table ID="CadreTitre" runat="server" Height="40px" CellPadding="0" Width="600px" CellSpacing="0" HorizontalAlign="Center">
                            <asp:TableRow>
                                <asp:TableCell HorizontalAlign="Center">
                                    <asp:Label ID="Etiquette" runat="server" Text="Grade" Height="20px" Width="300px" BackColor="#2FA49B" BorderColor="#B0E0D7" BorderStyle="Solid" BorderWidth="2px" ForeColor="#D7FAF3" Font-Bold="True" Font-Names="Trebuchet MS" Font-Size="Small" Style="margin-top: 5px; margin-left: 4px; margin-bottom: 10px; font-style: oblique; text-indent: 5px; text-align: center;" />
                                </asp:TableCell>
                            </asp:TableRow>
                        </asp:Table>
                    </asp:TableCell>
                </asp:TableRow>
                <asp:TableRow>
                    <asp:TableCell>
                        <asp:Table ID="CadreDon" runat="server" CellPadding="0" CellSpacing="0" Width="550px">
                            <asp:TableRow>
                                <asp:TableCell HorizontalAlign="Left" ColumnSpan="2">
                                    <Virtualia:VCoupleEtiDonnee ID="InfoH00" runat="server" V_PointdeVue="1" V_Objet="14" V_Information="0" V_SiDonneeDico="true" DonWidth="80px" DonTabIndex="1" />
                                </asp:TableCell>
                            </asp:TableRow>
                            <asp:TableRow>
                                <asp:TableCell HorizontalAlign="Left" ColumnSpan="2">
                                    <Virtualia:VDuoEtiquetteCommande ID="Dontab01" runat="server" V_PointdeVue="1" V_Objet="14" V_Information="1" V_SiDonneeDico="true" DonTabIndex="2" EtiWidth="100px" DonWidth="450px" />
                                </asp:TableCell>
                            </asp:TableRow>
                            <asp:TableRow>
                                <asp:TableCell HorizontalAlign="Left" ColumnSpan="2">
                                    <Virtualia:VDuoEtiquetteCommande ID="Dontab02" runat="server" V_PointdeVue="1" V_Objet="14" V_Information="2" V_SiDonneeDico="true" DonTabIndex="3" EtiWidth="100px" DonWidth="100px" />
                                </asp:TableCell>
                            </asp:TableRow>
                            <asp:TableRow>
                                <asp:TableCell HorizontalAlign="Left" ColumnSpan="2">
                                    <Virtualia:VDuoEtiquetteCommande ID="Dontab11" runat="server" V_PointdeVue="1" V_Objet="14" V_Information="11" V_SiDonneeDico="true" DonTabIndex="4" EtiWidth="100px" DonWidth="450px" />
                                </asp:TableCell>
                            </asp:TableRow>
                            <asp:TableRow>
                                <asp:TableCell HorizontalAlign="Left">
                                    <Virtualia:VCoupleEtiDonnee ID="InfoH03" runat="server" V_PointdeVue="1" V_Objet="14" V_Information="3" V_SiDonneeDico="true" EtiWidth="100px" DonWidth="60px" DonTabIndex="5" DonStyle="text-align:center;" />
                                </asp:TableCell>
                                <asp:TableCell HorizontalAlign="Left">
                                    <asp:Table ID="CadreIM" runat="server">
                                        <asp:TableRow>
                                            <asp:TableCell>
                                                <Virtualia:VCoupleEtiDonnee ID="InfoH04" runat="server" V_PointdeVue="1" V_Objet="14" V_Information="4" V_SiDonneeDico="true" EtiWidth="100px" DonWidth="60px" DonTabIndex="6" EtiStyle="margin-left:2px" DonStyle="text-align:center;" />
                                            </asp:TableCell>
                                            <asp:TableCell>
                                                <Virtualia:VCoupleEtiDonnee ID="InfoH23" runat="server" V_PointdeVue="1" V_Objet="14" V_Information="23" V_SiDonneeDico="true" EtiWidth="100px" DonWidth="60px" DonTabIndex="7" EtiStyle="margin-left:2px" DonStyle="text-align:center;" />
                                            </asp:TableCell>
                                        </asp:TableRow>
                                    </asp:Table>
                                </asp:TableCell>
                            </asp:TableRow>
                            <asp:TableRow>
                                <asp:TableCell HorizontalAlign="Left">
                                    <Virtualia:VDuoEtiquetteCommande ID="Dontab05" runat="server" V_PointdeVue="1" V_Objet="14" V_Information="5" V_SiDonneeDico="true" DonTabIndex="8" EtiWidth="100px" DonWidth="60px" />
                                </asp:TableCell>
                                <asp:TableCell HorizontalAlign="Left" ColumnSpan="2">
                                    <Virtualia:VDuoEtiquetteCommande ID="Dontab13" runat="server" V_PointdeVue="1" V_Objet="14" V_Information="13" V_SiDonneeDico="true" DonTabIndex="9" EtiWidth="100px" DonWidth="100px" />
                                </asp:TableCell>
                            </asp:TableRow>
                            <asp:TableRow>
                                <asp:TableCell HorizontalAlign="Left" ColumnSpan="2">
                                    <Virtualia:VDuoEtiquetteCommande ID="Dontab12" runat="server" V_PointdeVue="1" V_Objet="14" V_Information="12" V_SiDonneeDico="true" DonTabIndex="10" EtiWidth="100px" DonWidth="450px" />
                                </asp:TableCell>
                            </asp:TableRow>
                            <asp:TableRow>
                                <asp:TableCell HorizontalAlign="Left" ColumnSpan="2">
                                    <Virtualia:VDuoEtiquetteCommande ID="Dontab06" runat="server" V_PointdeVue="1" V_Objet="14" V_Information="6" V_SiDonneeDico="true" DonTabIndex="11" EtiWidth="100px" DonWidth="450px" />
                                </asp:TableCell>
                            </asp:TableRow>
                            <asp:TableRow>
                                <asp:TableCell HorizontalAlign="Left" ColumnSpan="2">
                                    <Virtualia:VDuoEtiquetteCommande ID="Dontab07" runat="server" V_PointdeVue="1" V_Objet="14" V_Information="7" V_SiDonneeDico="true" DonTabIndex="12" EtiWidth="250px" DonWidth="300px" />
                                </asp:TableCell>
                            </asp:TableRow>
                            <asp:TableRow>
                                <asp:TableCell HorizontalAlign="Left" ColumnSpan="2">
                                    <Virtualia:VReliquatAnciennete ID="Reliquat08" runat="server" V_PointdeVue="1" V_Objet="14" V_Information="8" V_SiDonneeDico="true" EtiWidth="250px" />
                                </asp:TableCell>
                            </asp:TableRow>
                            <asp:TableRow>
                                <asp:TableCell Height="10px" ColumnSpan="2" />
                            </asp:TableRow>
                            <asp:TableRow>
                                <asp:TableCell HorizontalAlign="Center" ColumnSpan="2">
                                    <asp:Label ID="EtiArrete" runat="server" Height="20px" Width="370px" Text="Date et référence de l'arrété" BackColor="#B0E0D7" BorderColor="#B0E0D7" BorderStyle="Outset" BorderWidth="2px" ForeColor="#142425" Font-Italic="true" Font-Bold="False" Font-Names="Trebuchet MS" Font-Size="Small" />
                                </asp:TableCell>
                            </asp:TableRow>
                            <asp:TableRow>
                                <asp:TableCell HorizontalAlign="Right">
                                    <Virtualia:VCoupleEtiDonnee ID="InfoH09" runat="server" V_PointdeVue="1" V_Objet="14" V_Information="9" V_SiDonneeDico="true" DonWidth="80px" DonTabIndex="13" EtiVisible="false" />
                                </asp:TableCell>
                                <asp:TableCell HorizontalAlign="Left">
                                    <Virtualia:VCoupleEtiDonnee ID="InfoH10" runat="server" V_PointdeVue="1" V_Objet="14" V_Information="10" V_SiDonneeDico="true" DonWidth="200px" DonTabIndex="14" EtiVisible="false" DonStyle="margin-left:2px" />
                                </asp:TableCell>
                            </asp:TableRow>
                            <asp:TableRow>
                                <asp:TableCell HorizontalAlign="Center" ColumnSpan="2">
                                    <asp:Label ID="EtiDecret" runat="server" Height="20px" Width="370px" Text="Date et référence de parution au JO du décret" BackColor="#B0E0D7" BorderColor="#B0E0D7" BorderStyle="Outset" BorderWidth="2px" ForeColor="#142425" Font-Italic="true" Font-Bold="False" Font-Names="Trebuchet MS" Font-Size="Small" />
                                </asp:TableCell>
                            </asp:TableRow>
                            <asp:TableRow>
                                <asp:TableCell HorizontalAlign="Right">
                                    <Virtualia:VCoupleEtiDonnee ID="InfoH21" runat="server" V_PointdeVue="1" V_Objet="14" V_Information="21" V_SiDonneeDico="true" DonWidth="80px" DonTabIndex="15" EtiVisible="false" />
                                </asp:TableCell>
                                <asp:TableCell HorizontalAlign="Left">
                                    <Virtualia:VCoupleEtiDonnee ID="InfoH22" runat="server" V_PointdeVue="1" V_Objet="14" V_Information="22" V_SiDonneeDico="true" DonWidth="200px" DonTabIndex="16" EtiVisible="false" DonStyle="margin-left:2px" />
                                </asp:TableCell>
                            </asp:TableRow>
                            <asp:TableRow>
                                <asp:TableCell Height="12px" ColumnSpan="2" />
                            </asp:TableRow>
                        </asp:Table>
                    </asp:TableCell>
                </asp:TableRow>
                <asp:TableRow>
                    <asp:TableCell>
                        <asp:Panel ID="CadreExpert" runat="server" BorderStyle="None" BorderWidth="1px" BorderColor="#B0E0D7" Height="350px" Width="600px" HorizontalAlign="Left" Style="margin-top: 5px; vertical-align: middle; text-align: center">
                            <Virtualia:VCoupleEtiquetteExperte ID="ExprH01" runat="server" V_PointdeVue="1" V_Objet="14" V_InfoExperte="581" V_SiDonneeDico="true" EtiHeight="20px" EtiWidth="250px" DonWidth="200px" DonHeight="20px" EtiStyle="margin-left: 50px; margin-top: 5px" DonStyle="margin-top: 9px; text-align: center" />
                            <Virtualia:VCoupleEtiquetteExperte ID="ExprH02" runat="server" V_PointdeVue="1" V_Objet="14" V_InfoExperte="586" V_SiDonneeDico="true" EtiHeight="20px" EtiWidth="250px" DonWidth="200px" DonHeight="20px" EtiStyle="margin-left: 50px;" DonStyle="text-align: center;" />
                            <Virtualia:VCoupleEtiquetteExperte ID="ExprH03" runat="server" V_PointdeVue="1" V_Objet="14" V_InfoExperte="579" V_SiDonneeDico="true" EtiHeight="20px" EtiWidth="250px" DonWidth="200px" DonHeight="20px" EtiStyle="margin-left: 50px;" DonStyle="text-align: center;" />
                            <Virtualia:VCoupleEtiquetteExperte ID="ExprH04" runat="server" V_PointdeVue="1" V_Objet="14" V_InfoExperte="770" V_SiDonneeDico="true" EtiHeight="20px" EtiWidth="250px" DonWidth="200px" DonHeight="20px" EtiStyle="margin-left: 50px;" DonStyle="text-align: center;" />
                            <Virtualia:VCoupleEtiquetteExperte ID="ExprH05" runat="server" V_PointdeVue="1" V_Objet="14" V_InfoExperte="582" V_SiDonneeDico="true" EtiHeight="20px" EtiWidth="250px" DonWidth="200px" DonHeight="20px" EtiStyle="margin-left: 50px;" DonStyle="text-align: center;" />
                            <Virtualia:VCoupleEtiquetteExperte ID="ExprH06" runat="server" V_PointdeVue="1" V_Objet="14" V_InfoExperte="859" V_SiDonneeDico="true" EtiHeight="20px" EtiWidth="250px" DonWidth="120px" DonHeight="20px" EtiStyle="margin-left: 50px;" DonStyle="text-align: center;" />
                            <Virtualia:VCoupleEtiquetteExperte ID="ExprH07" runat="server" V_PointdeVue="1" V_Objet="14" V_InfoExperte="858" V_SiDonneeDico="true" EtiHeight="20px" EtiWidth="250px" DonWidth="120px" DonHeight="20px" EtiStyle="margin-left: 50px;" DonStyle="text-align: center;" />
                            <Virtualia:VCoupleEtiquetteExperte ID="ExprH08" runat="server" V_PointdeVue="1" V_Objet="14" V_InfoExperte="678" V_SiDonneeDico="true" EtiHeight="20px" EtiWidth="250px" DonWidth="120px" DonHeight="20px" EtiStyle="margin-left: 50px;" DonStyle="text-align: center;" />
                            <Virtualia:VCoupleEtiquetteExperte ID="ExprH09" runat="server" V_PointdeVue="1" V_Objet="14" V_InfoExperte="555" V_SiDonneeDico="true" EtiHeight="20px" EtiWidth="250px" DonWidth="120px" DonHeight="20px" EtiStyle="margin-left: 50px;" DonStyle="text-align: center;" />
                            <Virtualia:VCoupleEtiquetteExperte ID="ExprH10" runat="server" V_PointdeVue="1" V_Objet="14" V_InfoExperte="557" V_SiDonneeDico="true" EtiHeight="20px" EtiWidth="250px" DonWidth="120px" DonHeight="20px" EtiStyle="margin-left: 50px;" DonStyle="text-align: center;" />
                            <Virtualia:VCoupleEtiquetteExperte ID="ExprH11" runat="server" V_PointdeVue="1" V_Objet="14" V_InfoExperte="556" V_SiDonneeDico="true" EtiHeight="20px" EtiWidth="250px" DonWidth="120px" DonHeight="20px" EtiStyle="margin-left: 50px;" DonStyle="text-align: center;" />
                        </asp:Panel>
                    </asp:TableCell>
                </asp:TableRow>
                <asp:TableRow>
                    <asp:TableCell Height="8px" />
                </asp:TableRow>
            </asp:Table>
        </asp:TableCell>
    </asp:TableRow>
</asp:Table>
