﻿<%@ Page Language="VB"  %>

<%@ Register Assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
    Namespace="Microsoft.Reporting.WebForms" TagPrefix="rsweb" %>

<%@ Register src="../ControlesWebUser/TempsTravail/VDetailMensuel.ascx" tagname="VDetailMensuel" tagprefix="Virtualia" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >

<head id="Head1" runat="server">
    <title>Designers Page</title>
    </head>
<body>
    <form id="form1" runat="server">
    
          <Virtualia:VDetailMensuel ID="VDetailMensuel_1" runat="server" /> 
          
    
    </form>
</body>
</html>
