﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="V_Tuiles.ascx.vb" Inherits="Virtualia.Net.V_Tuiles" ClassName="Controles_VCoupleIconeEtiBase" %>

<asp:Panel ID="PanelTuiles" runat="server" BackColor="#0F2F30" HorizontalAlign="Center" Width="1146px" BorderColor="#5E9598" BorderStyle="Solid" BorderWidth="2px" Height="500px" ScrollBars="Auto" Style="margin-top: 0px; text-align: left; ">
     <asp:Table ID="CadreTuiles" runat="server" HorizontalAlign="Left">
        <asp:TableRow runat="server" ID="RowTuiles"/>
    </asp:Table>
 </asp:Panel>