﻿<%@ Control Language="VB" AutoEventWireup="false" Inherits="Virtualia.Net.Controles_VCoupleVerticalEtiDonnee" Codebehind="VCoupleVerticalEtiDonnee.ascx.vb" ClassName="Controles_VCoupleVerticalEtiDonneeBase" %>

<asp:Table ID="CadreEtiData" runat="server" CellPadding="0" CellSpacing="0" >
   <asp:TableRow>
     <asp:TableCell>
         <asp:Label ID="Etiquette" runat="server" Height="20px" Width="170px" BackColor="#B0E0D7" BorderColor="#B0E0D7"  BorderStyle="Outset" BorderWidth="2px" ForeColor="#142425" Font-Italic="true" Font-Bold="False" Font-Names="Trebuchet MS" Font-Size="Small" style="margin-top: 0px; text-indent: 5px; text-align: left" />
     </asp:TableCell>
   </asp:TableRow>
   <asp:TableRow>
     <asp:TableCell>
         <asp:TextBox ID="Donnee" runat="server" Height="170px" Width="170px" MaxLength="0" BackColor="White" BorderColor="#B0E0D7"  BorderStyle="Inset" BorderWidth="2px" ForeColor="Black" Visible="true" Font-Bold="false" Font-Names="Trebuchet MS" Font-Size="Small" Font-Italic="false" style="margin-top: 1px; text-indent: 1px; text-align: left" AutoPostBack="false"/> 
     </asp:TableCell>
  </asp:TableRow>
</asp:Table>
