﻿<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="VirtualiaCnx.master.vb" Inherits="Virtualia.Net.VirtualiaCnx" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Entete" runat="server">
    <title>Virtualia.Net</title>
    <style type="text/css">
        body
        {
        	font-family: Trebuchet MS;
        	font-size: small;
            margin: 0;
            padding: 0;
        }
        .StandardV
        {
        	margin-top: 5px;
        	margin-bottom: 1px;
        	background-attachment:inherit;
        	background-image: url(../Images/Fonds/Fond_Header.jpg);
        	background-repeat:repeat;
        	border: groove 1px #00CCFF;
        	overflow: hidden;
        } 
        .IE8Fix  
        {
        	z-index : 100;
        }     	
    </style>
    
    <asp:ContentPlaceHolder id="EnteteSite" runat="server">
        
    </asp:ContentPlaceHolder>
    
</head>
<body style="background-color: #216B68">
    <form id="VirtualiaSiteMaster" runat="server">
    <div>
        <asp:ScriptManager ID="ScriptManagerMaster" runat="server" 
             EnablePartialRendering="true" AsyncPostBackTimeout="180"  >
        </asp:ScriptManager>
        <asp:ContentPlaceHolder ID="HautdePage" runat="server">
           <asp:UpdatePanel ID="UpdatePanelHaut" runat="server">
             <ContentTemplate>
               <asp:Timer ID="HorlogeVirtuelle" runat="server" Interval="60000">
               </asp:Timer>
               <asp:Table ID="CadreMenu" runat="server" CssClass="StandardV" CellPadding="1" CellSpacing="0"
                       height="102px" Width="1150px" HorizontalAlign="Center">
                <asp:TableRow>
                    <asp:TableCell HorizontalAlign="Left">
                        <asp:Image ID="ImageLogo" runat="server" Height="100px" BorderWidth="2px" BorderColor="WhiteSmoke"
                            ImageUrl="~/Images/General/Logo Virtualia.jpg" Width="100px" BorderStyle="Solid" 
                            AlternateText="VIRTUALIA" ImageAlign="Middle">
                        </asp:Image>
                    </asp:TableCell>
                    <asp:TableCell>
                        <asp:Table ID="CadreEntete" runat="server" Width="750px">
                            <asp:TableRow Height="30px">
                               <asp:TableCell HorizontalAlign="Left" VerticalAlign="Top" >
                                    <asp:Label ID="EtiTitre" runat="server" Text="Virtualia.Net" Height="30px" Width="250px"
                                       Font-Names="Trebuchet MS" Font-Size="XX-Large" ForeColor="White" Font-Bold="true" 
                                       Font-Italic="true" style=" vertical-align: top" >
                                    </asp:Label>
                               </asp:TableCell>
                            </asp:TableRow>
                            <asp:TableRow Height="20px" HorizontalAlign="Left">
                               <asp:TableCell HorizontalAlign="Left" Width="250px"></asp:TableCell> 
                               <asp:TableCell HorizontalAlign="Left" Width="440px"> 
                                    <asp:Label ID="EtiDateJour" runat="server" BackColor="Transparent" 
                                                Font-Names="Trebuchet MS" Font-Size="Small" ForeColor="White"
                                                Text="" Height="15px" Width="440px" Font-Bold="False" Font-Italic="true"
                                                style="margin-right: 10px; text-align: right">
                                    </asp:Label>
                               </asp:TableCell>
                               <asp:TableCell HorizontalAlign="Left" Width="40px"> 
                                    <asp:Label ID="EtiHeure" runat="server" BackColor="Transparent" 
                                                Font-Names="Trebuchet MS" Font-Size="Small" ForeColor="White"
                                                Text="" Height="15px" Width="30px" Font-Bold="False" Font-Italic="true"
                                                style="margin-right: 10px;">
                                    </asp:Label>
                               </asp:TableCell>
                            </asp:TableRow>
                            <asp:TableRow Width="250px" Height="30px" HorizontalAlign="Center">
                               <asp:TableCell ColumnSpan="1">
                                    <asp:Menu ID="MenuChoix" runat="server" Width="250px"
                                        DynamicHorizontalOffset="10" Font-Names="Trebuchet MS" Font-Size="Small" BorderColor="#B0E0D7"
                                        BackColor="#0E5F5C" Font-Italic="false" ForeColor="White" Height="35px" Orientation="Horizontal" 
                                        StaticSubMenuIndent="20px" Font-Bold="True" BorderWidth="1px" style="margin-left: 5px;" 
                                        StaticTopSeparatorImageUrl="" StaticEnableDefaultPopOutImage="False">
                                        <StaticSelectedStyle BackColor="#B0E0D7" BorderStyle="Solid" Font-Bold="True" 
                                            Font-Names="Trebuchet MS" Font-Size="Small" ForeColor="#000066" />
                                        <StaticMenuItemStyle VerticalPadding="2px" HorizontalPadding="10px"
                                            BackColor="#0E5F5C" BorderColor="#B0E0D7" BorderStyle="None" Font-Bold="False" 
                                            Font-Names="Trebuchet MS" Font-Size="Small" ForeColor="White" />
                                        <StaticHoverStyle BackColor="#0E5F5C" ForeColor="White" BorderColor="#B0E0D7" 
                                            BorderStyle="Solid" />
                                        <Items>
                                            <asp:MenuItem Text="Se connecter" Value="Connexion" NavigateUrl="~/Default.aspx" />
                                            <asp:MenuItem Text="A propos" Value="About" NavigateUrl="~/Fenetres/Connexion/FrmAbout.aspx" />
                                        </Items>
                                    </asp:Menu>
                                </asp:TableCell>
                             </asp:TableRow>
                          </asp:Table>
                      </asp:TableCell>
                </asp:TableRow>
              </asp:Table>
            </ContentTemplate>
           </asp:UpdatePanel>
        </asp:ContentPlaceHolder>
        
        <asp:ContentPlaceHolder ID="CorpsMaster" runat="server">
            
        </asp:ContentPlaceHolder>
                
        <asp:ContentPlaceHolder ID="PieddePageMaster" runat="server"> 
          <asp:table ID="TableDroits" runat="server" Cssclass="StandardV" CellPadding="1" CellSpacing="0"
                     height="10px" Width="1150px" HorizontalAlign="Center">
            <asp:TableRow>
                <asp:TableCell HorizontalAlign="Center">
                    <asp:Label ID="Droits" runat="server" BackColor="Transparent" ForeColor="White"
                        Font-Names="Trebuchet MS" Font-Size="Smaller" Font-Bold="false"
                        Text="Copyright@1992-2011 Virtualia - Gestion visuelle des ressources humaines (Version 4)" Width="1150px">
                    </asp:Label>
                </asp:TableCell>
            </asp:TableRow> 
          </asp:table>
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
